.df {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.fdc {
    flex-direction: column;
}

.jcsb {
    justify-content: space-between;
}

.fg {
    flex-grow: 1;
}

.fsh {
    flex-shrink: 0;
}

.fww {
    flex-wrap: wrap;
}

.fwnw {
    flex-wrap: nowrap;
}