$mainColor: #2E2C34;
$brandColor: #3942ae;
$black: #000;
$blackOpacity: rgba(0, 0, 0, .3);
$white: #ffffff;
$error: #ff4d4f;
$hoverBrandColor: #3A79FA;
$mainFont: "Manrope", sans-serif;
$titleFont: "Helvetica", sans-serif;
$bgColor: #f4f6fc;
$fontSize: 16px;
$borderRadius: 10px;
